{% extends "base.html" %}

{% block content %}
    <div class="container">
        {% include "flashes.html" %}

        <h1 class="display-4">Change your password</h1>
        <form action="" method="POST">
		{{ form.hidden_tag() }}
		    <div class="form-group">
                {{ form.current_password.label }}
                <input class="form-control" type="password" name="current_password" placeholder="Current Password">
				{% for error in form.current_password.errors %}
				<span style="color: red;">{{ error }}</span>
				{% endfor %}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                <input class="form-control" type="password" name="password" placeholder="New Password">
					<small id="passwordHelpBlock" class="form-text text-muted">
						Your password must contain at least one uppercase, one digit, and one symbol!
					</small>
				{% for error in form.password.errors %}
				<span style="color: red;">{{ error }}</span>
				{% endfor %}
            </div>
            <div class="form-group">
                {{ form.confirm.label }}
                <input class="form-control" type="password" name="confirm" placeholder="Confirm new password">
            </div>
			 {% for error in form.confirm.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
			<p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}
